<div class="post-registration">
    <div class="registration-entry">
        <div class="price">
            <u>免费</u>
            <s>名额</s>
            <b>{{post.limit}}</b>
        </div>
        <div class="deadline">
            <b>报名截止</b>
            <i>{{post.deadline}}</i>
        </div>
        {{#if isPublished}}
            <a href="/registration/new/{{post.slug}}" class="button join">我要报名</a>
        {{else}}
            <button type="button" class="button button-disabled">已结束</button>
        {{/if}}
    </div>
    <div class="registration-info">
        <div class="heading">报名{{registrations.count}}人，已入选{{registrations.selectedCount}}人</div>
        {{#if registrations}}
            <div class="users">
                <a class="clearfix" href="/registration/users/{{post.slug}}">
                    {{#registrations}}
                        <img data-src="http://tp3.sinaimg.cn/1639111910/180/5719548796/1" alt="{{author._id}}">
                    {{/registrations}}
                    <span class="iconfont icon-go"></span>
                </a>
            </div>
        {{/if}}
    </div>
</div>